div {
	border-radius: 15px;
}
body {
	Background-image: url("seyrealbg.jpg") ;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	background-size: 100% 100%;
}

#header {
	height: 150px;
	background-image: url("shawlogo.jpg")  ;
	background-size: 100% 100%;
    background-repeat: no-repeat;
	background-color: ;
	margin-bottom: 10px;
}

.left {
	height: 300px;
	width: 150px;
	background-color: #0000CD;
	float: left;
	margin-bottom: 10px;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-top: 15px;
}

.right {
	height: 300px;
	width: 150px;
	background-color: ;
	float: right;
	margin-bottom: 10px;
	padding-left: 17px;
	padding-bottom: 15px;
	padding-right: 20px;
	padding-top: 15px;
	
	
}

p {
	text-align: center
}
#footer {
	height: 150px;
	background-image: url("") ;
	background-position: center;
	background-size: 100% 100%;
    background-repeat: no-repeat;
	background-color: ;
	clear: both;

}

a{
	margin-top: 5px;
	margin-left: 5px;
}
h1 {
	font-family: "Times New Roman", Georgia, Serif;
	color: black; 
	text-align: center;
}
p {
	font-family: "Times New Roman", Georgia, Serif;
	color: black;
	
}	
h2 {
	font-family: "Times New Roman", Georgia, Serif;
	text-align: center;
	color: black;
}
.formcenter {
    position: relative;
	left: 45px;
    top: 5px;
}
    
